<h1 *ngIf="building">Building: {{ building.name }}</h1>
<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  
  <table id="tableApartments" mat-table [dataSource]="apartments" class="mat-elevation-z8 table table-striped">
    
    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-button (click)="viewApartment(element)" *ngIf="authService.canRead('Apartments');">
          <i class="material-icons" >
            search
          </i>
        </button>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-button (click)="editApartment(element)" *ngIf="authService.canUpdate('Apartments');">
          <i class="material-icons" >
            edit
          </i>
        </button>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-button (click)="deleteApartment(element)" *ngIf="authService.canDelete('Apartments');">
          <i class="material-icons" >
            delete
          </i>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="apartmentsId">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.apartmentsId}} </td>
    </ng-container>

    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef> Number </th>
      <td mat-cell *matCellDef="let element"> {{element.number}} </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <button mat-fab color="primary" (click)="createApartment()" *ngIf="authService.canInsert('Apartments');" matTooltip="New apartment">
    <span style="font-size: 48px">+</span>
  </button>
  