<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table id="tableServices" mat-table [dataSource]="services" class="mat-elevation-z8 table table-striped">

  <ng-container matColumnDef="view">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element" matTooltip="View service">
      <button mat-button (click)="viewService(element)" *ngIf="authService.canRead('Services');">
        <i class="material-icons" >
          search
        </i>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element" matTooltip="Edit service">
      <button mat-button (click)="editService(element)" *ngIf="authService.canUpdate('Services');">
        <i class="material-icons" >
          edit
        </i>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element" matTooltip="Delete service">
      <button mat-button (click)="deleteService(element)" *ngIf="authService.canDelete('Services');">
        <i class="material-icons" >
          delete
        </i>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<button mat-fab color="primary" (click)="createService()" *ngIf="authService.canInsert('Services');" matTooltip="New service">
  <span style="font-size: 48px">+</span>
</button>
